{% extends 'base.html.twig' %}
{% block section %}

    <section id="article">
        <div class="container">

            <a href="{{ path('blog') }}"><span class="span_img circle_back"></span></a>

            {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}

                <div class="button flex">
                    <button class="updateBlog">Modifier le blog</button>
                    <button class="PictureForm">Ajouter une image</button>
                </div>

                <div id="updateBlog" class="update_form">
                    <h3>Modifier l'article</h3>
                    <div id="blog_portrait" class="imgProfil">
                        {% for portrait in album %}
                            <img src="{{ asset('images/blog/'~portrait.url) }}" alt="{{ portrait.title }}">
                        {% endfor %}
                    </div>
                    <span class="back span_img"></span>
                    {{ form_start(updateBlog,{'attr':{'class':'flex'}}) }}

                    <label for="title"> -- Titre -- </label>
                    {{ form_widget(updateBlog.title) }}

                    <label for="title"> -- Content -- </label>
                    {{ form_widget(updateBlog.content) }}

                    <div class="button flex">
                        <button type="submit">Save</button>
                    </div>
                    {{ form_end(updateBlog) }}
                </div>

                <div id="PictureForm" class="update_form">
                    <span class="back span_img"></span>
                    {{ form_start(addPic,{'attr':{'class':'flex'}}) }}
                    <h3>Ajouter une image</h3>

                    <label for="title"> -- Titre -- </label>
                    {{ form_widget(addPic.title) }}

                    <label for="url"> -- Importer une image -- </label>
                    {{ form_widget(addPic.url) }}

                    <div class="button flex">
                        <button type="submit">Save</button>
                    </div>
                    {{ form_end(addPic) }}
                </div>
            {% endif %}

            <div class="detail_article flex">
                <h3>{{ article.title }}</h3>
                <span class="date">{{ article.date|date('d-m-Y') }}</span>
                <p class="description">
                    {{ article.content }}<br>
                </p>

                <div class="album_article">
                    {% for picture in album %}
                        <div class="picture_blog">
                            <img src="{{ asset('images/blog/'~picture.url) }}" alt="{{ picture.title }}">
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>

{% endblock %}