{% extends "base.html.twig" %}
{% block section %}
    <section id="blog">
        <div class="container">
            {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="button flex">
                    <button class="articleForm">Ajouter un article</button>
                </div>

                <div id="articleForm" class="update_form">
                    <span class="back span_img"></span>
                    {{ form_start(articleForm,{'attr':{'class':'flex' }}) }}

                    <h3>Ajouter un article</h3>

                    <label for="title"> -- Titre -- </label>
                    {{ form_widget(articleForm.title) }}

                    <p>( markdown: retour à la ligne ajouter en fin de phrase  &#60;br&#62; :<br>
                        lien: [nom du site](lien du site) )</p>
                    <label for="content"> -- Description -- </label>
                    {{ form_widget(articleForm.content) }}

                    <label for="url"> -- Importer une image -- </label>
                    {{ form_widget(articleForm.url) }}

                    <label for="date"> -- Date -- </label>
                    {{ form_widget(articleForm.date) }}

                    <div class="button flex">
                        <button type="submit">save</button>
                    </div>

                    {{ form_end(articleForm) }}
                </div>
            {% endif %}

                {% for article in blog %}
                    <article>
                        <div class="blog flex">
                            <img class="img_detail" src="{{ asset('images/blog/'~article.title~'/'~article.url ) }}" alt="{{ article.alt }}">
                            <div class="detail">
                                <h3>{{ article.title|replace({'_':' '}) }}</h3>
                                <span class="date">{{ article.date|date('d-m-Y') }}</span>
                                <p class="description">
                                    {{ article.content | markdown }}
                                </p>
                                <a href="{{ path('article',{'articleId':article.id}) }}"><span class="span_img more"></span></a>
                            </div>
                        </div>
                    </article>
                {% endfor %}
        </div>


    </section>
{% endblock %}