{% extends 'base.html.twig' %}

{% block section %}


    <section class="portfolio">

        <div class="container">
            <ul class="ml category flex">
                <li>Filtrer par catégorie:</li>
                <li class="index"><a class="active" href="#All">All</a></li>
                {% for category in categories %}
                    <li class="masonry"><a href="#{{ category.alb_category }}">{{ category.alb_category }}</a></li>
                {% endfor %}
            </ul>

            <div class="menu_xs">
                <div class="filter">
                    <p>Filtrer par catégorie</p>
                </div>
                <ul class="xs category flex">
                    <li class="index"><a class="active" href="#All">All</a></li>
                    {% for category in categories %}
                        <li class="masonry"><a href="#{{ category.alb_category }}">{{ category.alb_category }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}

            <div class="button flex">
                <button class="albumForm">Ajouter un album</button>
            </div>

            <div id="albumForm" class="update_form">

                <span class="back span_img"></span>
                {{ form_start(albumForm,{'attr':{'class':'flex' }}) }}
                <h3>Ajouter un album</h3>

                <label for="title"> -- Titre -- </label>
                {{ form_widget(albumForm.title) }}

                <label for="category"> -- Catégorie -- </label>
                {{ form_widget(albumForm.category) }}

                <label for="url"> -- Upload Img -- </label>
                {{ form_widget(albumForm.url) }}

                <div class="button flex">
                    <button class="album" type="submit">Ajouter</button>
                </div>
                {{ form_end(albumForm) }}
            </div>
        </div>

        {% endif %}

        <div class="grid">
            {% for album in albums %}
                <div class="album {{ album.category }} grid-item">
                    <div class="grid_overflow">
                        <a href="{{ path('album',{'albumId':album.id}) }}"><img src="images/album/{{ album.url }}" alt="{{ album.title }}"></a>
                    </div>
                    <p>{{ album.title }}</p>
                </div>
            {% endfor %}
        </div>
        </div>
    </section>

{% endblock %}

