{% extends "base.html.twig" %}
{% block section %}
    <section id="tarif">
        <div class="container">
            <div class="shooting_category divUp">

                <div id="particulier" class="particular_price flex">
                    <h2>Particuliers</h2>
                    <article>
                        <figure>
                            <img src="{{ asset('images/tarif/PORTRAIT05.jpg') }}" alt="portrait">
                            <figcaption>
                                <h3>Portrait</h3>
                                <p>
                                    3 Formules disponibles <br>
                                    Shooting en solo, en duo ou groupes<br>
                                    À partir de 100€
                                </p>
                            </figcaption>
                        </figure>
                    </article>

                    <article>
                        <figure>

                            <img src="{{ asset('images/tarif/Wedding.jpg') }}" alt="mariage">
                            <figcaption>
                                <h3>Mariage</h3>
                                <p>
                                    3 Formules disponibles<br>
                                    Reportage photos de votre journée, pouvant aller des préparatifs jusqu'à la soirée<br>
                                    À partir de 650€
                                </p>
                            </figcaption>
                        </figure>
                    </article>

                    <div class="mail">
                        <a href="{{ path('contact') }}">Demande d'informations ou d'un devis</a>
                    </div>
                </div>

                <div id="pro" class="professionnal_price flex">
                    <h2>Professionnels</h2>
                    <article>
                        <figure>
                            <img src="{{ asset('images/tarif/Book.jpg') }}" alt="book">
                            <figcaption>
                                <h3>Book</h3>
                                <p>
                                    3 Formules disponibles <br>
                                    Shooting en solo, en duo ou groupes<br>
                                    À partir de 150€
                                </p>
                            </figcaption>
                        </figure>
                    </article>

                    <article>
                        <figure>

                            <img src="{{ asset('images/tarif/Event.jpg') }}" alt="événementiel">
                            <figcaption>
                                <h3>Événementiel / Entreprise</h3>
                                <p>
                                    À la demande
                                </p>
                            </figcaption>
                        </figure>
                    </article>

                    <article>
                        <figure>
                            <img src="{{ asset('images/tarif/Pub.jpg') }}" alt="publicité">
                            <figcaption>
                                <h3>Publicité / Commerce</h3>
                                <p>
                                    À la demande
                                </p>
                            </figcaption>
                        </figure>
                    </article>

                    <div class="mail">
                        <a href="{{ path('contact') }}">Demande d'informations ou d'un devis</a>
                    </div>
                </div>

                {#<ul class="slider">#}
                {#<li>#}
                {#<div id="portrait" class="shooting portrait">#}
                {#<article class="solo flex">#}
                {##}
                {#<div class="price_detail">#}
                {#<ul>#}
                {#<h3>Solo</h3>#}
                {#<li>Séance 1h</li>#}
                {#<li>6 photos HD</li>#}
                {#<li>Gallerie en ligne</li>#}
                {#<li>100€</li>#}
                {#</ul>#}
                {#</div>#}
                {#</article>#}

                {#<article class="duo flex">#}
                {#<div class="price_detail right">#}
                {#<ul>#}
                {#<h3>Duo</h3>#}
                {#<li>Séance 1h30</li>#}
                {#<li>10 photos HD</li>#}
                {#<li>Gallerie en ligne</li>#}
                {#<li>150€</li>#}
                {#</ul>#}
                {#</div>#}
                {#<img src="{{ asset('images/tarif/duo.jpg') }}" alt="portrait duo">#}
                {#</article>#}

                {#<article class="group flex">#}
                {#<img src="{{ asset('images/tarif/groupe.jpg') }}" alt="portrait groupe">#}
                {#<div class="price_detail">#}
                {#<ul>#}
                {#<h3>Groupe</h3>#}
                {#<li></li>#}
                {#<li>Séance 1h30</li>#}
                {#<li>15 photos HD</li>#}
                {#<li>Gallerie en ligne</li>#}
                {#<li>100€</li>#}
                {#</ul>#}
                {#</div>#}
                {#</article>#}
                {#</div>#}
                {#</li>#}

                {#<li id="mariage" >#}
                {#<div class="shooting mariage">#}
                {#<article class="group flex">#}
                {#<img src="{{ asset('images/tarif/mariage1.jpg') }}" alt="portrait mariage">#}
                {#<div class="price_detail">#}
                {#<ul>#}
                {#<h3>Mariage</h3>#}
                {#<li>Reportage photo de votre journée</li>#}
                {#<li>3 tarifs disponibles, à partir de 700€</li>#}
                {#</ul>#}
                {#</div>#}
                {#</article>#}

                {#<article class="group flex">#}
                {#<div class="price_detail">#}
                {#<img src="{{ asset('images/tarif/mariage2.jpg') }}" alt="portrait mariage">#}
                {#</div>#}
                {#<img src="{{ asset('images/tarif/mariage3.jpg') }}" alt="portrait mariage">#}
                {#</article>#}
                {#</div>#}
                {#</li>#}

                {#<li>#}
                {#<div id="book" class="shooting book">#}
                {#<article class="group flex">#}
                {#<div class="price_detail right">#}
                {#<ul>#}
                {#<h3>Book</h3>#}
                {#<li>À partir de 150€</li>#}
                {#<li>Supplément#}
                {#<ul>#}
                {#<li>Location de studio</li>#}
                {#<li>Coiffure, make up</li>#}
                {#</ul>#}
                {#</li>#}
                {#</ul>#}
                {#</div>#}
                {#<img src="{{ asset('images/tarif/book3.jpg') }}" alt="portrait mariage">#}
                {#</article>#}

                {#<article class="group flex">#}
                {#<img src="{{ asset('images/tarif/book1.jpg') }}" alt="portrait mariage">#}
                {#<div class="price_detail">#}
                {#<img src="{{ asset('images/tarif/book2.jpg') }}" alt="portrait mariage">#}
                {#</div>#}
                {#</article>#}
                {#</div>#}
                {#</li>#}

                {#<li>#}
                {#<div id="event" class="shooting event">#}
                {#<article class="group flex">#}
                {#<img src="{{ asset('images/tarif/event1.jpg') }}" alt="portrait mariage">#}
                {#<div class="price_detail">#}
                {#<ul>#}
                {#<h3>Événementiel</h3>#}
                {#<li>Devis sur demande</li>#}
                {#</ul>#}
                {#</div>#}
                {#</article>#}

                {#<article class="group flex">#}
                {#<div class="price_detail">#}
                {#<img src="{{ asset('images/tarif/event2.jpg') }}" alt="portrait mariage">#}
                {#</div>#}
                {#<img src="{{ asset('images/tarif/event3.jpg') }}" alt="portrait mariage">#}
                {#</article>#}
                {#</div>#}
                {#</li>#}

                {#<li >#}
                {#<div id="pub" class="shooting pub">#}
                {#<article class="group flex">#}
                {#<div class="price_detail right">#}
                {#<ul>#}
                {#<h3>Publicité</h3>#}
                {#<li>Devis sur demande</li>#}
                {#</ul>#}
                {#</div>#}
                {#<img src="{{ asset('images/tarif/pub3.jpg') }}" alt="portrait mariage">#}
                {#</article>#}

                {#<article class="group flex">#}
                {#<img src="{{ asset('images/tarif/pub1.jpg') }}" alt="portrait mariage">#}
                {#<div class="price_detail">#}
                {#<img src="{{ asset('images/tarif/pub2.jpg') }}" alt="portrait mariage">#}
                {#</div>#}
                {#</article>#}
                {#</div>#}
                {#</li>#}
                {#</ul>#}
            </div>
        </div>
    </section>
{% endblock %}